{% extends "main/base.html" %}

{% block content %}
   <div class="page-content">
            
           <nav class="section_search">
             <h1><strong> Recceuil des Mémoires <br>
               à l'Uy2-Soa </strong></h1>
             <form class="form-inline2 bloc-form " method="GET" action="{% url 'main:searchDocs' %}">
                    <input name="q" id="id_q" class="form-control2 mr-sm-2" type="text" placeholder="Saisir un titre, auteur, mot clé ici..." style="border-radius: 34px;">
                    <button class="bouton-search btn btn-outline-success my-2 my-sm-0" type="submit">Chercher!</button>
                </form>
            </nav>

        </div>
    
    

{% endblock content %}