/* GENERAL */

.pied-page {
    /*position: fixed;*/
    left: 0;
    bottom: 0;
    width: auto;
    color: #19A882;
    text-align: center;
    height: 10%;
    font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
    font-weight: bold;
}

footer {
    margin-top: auto;
    margin-bottom: 0%;
}

footer:nth-child(3) {
    border-top: 1px solid;
    border-color: red;
}

footer {
    margin-top: auto;
    margin-bottom: 0%;
}

footer:nth-child(3) {
    border-top: 1px solid;
    border-color: red;
}

.doc-block_footer {
    margin-right: 15px;
}